body {
    background-image: url('Premium Photo _ Front view of a generic and brandless moder car.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    color: #fff; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}


.anjay1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anjay {
    font-size: 2em;
    margin-bottom: 20px;
}

.form {
    width: 300px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333; 
    color: #fff; 
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50; 
    color: #fff; 
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; 
}

.forgot {
    margin-top: 20px;
    font-size: 0.8em;
}

.forgot a {
    color: #ccc; 
    text-decoration: none; 
}

.forgot a:hover {
    color: #fff; 
}
