body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #000000; /* Mengubah warna teks menjadi hitam untuk visibilitas yang lebih baik */
}

nav {
    background-color: #000000; /* Warna latar belakang navbar */
}

.biasa {
    width: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    list-style-type: none;
}

a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd; /* Warna latar belakang saat cursor diarahkan ke link */
    color: black;
}

.waru4 {
    color: yellow;
    font-size: 30px;
}

.logo {
    flex-direction: row;
}

.waru3 {
    display: flex;
    flex-direction: row-reverse;
}

.WARU {
    display: flex;
    margin-right: 780px;
    font-size: 20px;
    padding: 8px;
}

.waru2 {
    color: #ddd;
}

.menu {
    margin-right: auto; /* Aligns the menu items to the left */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #ffffffc9;
    border: 1px solid #dddddd7c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
    color: #007bff;
}

.card p {
    padding: 0 20px;
    font-size: 1em;
    color: #666;
    flex-grow: 1; /* Ensures that the paragraph takes up the available space */
    display: flex;
    align-items: center;
}

.harga {
    font-size: 1.2em;
    color: #28a745;
}

.card a {
    display: inline-block;
    margin-top: auto; /* Pushes the link to the bottom of the card */
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bffa4;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.card a:hover {
    background-color: #0056b3;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
